<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- script per dayjs -->
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.20/plugin/customParseFormat.js"></script>
  <!-- script per dayjs -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <title>Document</title>
</head>
<body>
  <div class="container">
    <div id="app" class="clearfix"> 
      <!-- col-left -->
      <div class="col-left f-left">
        <!-- header -->
        <header class="header">
          <div class="avatar">
            <img src="img/avatar_io.jpg" alt="nome utente">
          </div>
          <div class="info-user">
            <h2 class="user-name">Nome Utente</h2>
          </div>
          <div class="icons">
            <ul class="list-inline">
              <li class="list-item"><i class="fas fa-circle-notch"></i></li>
              <li class="list-item"><i class="fas fa-comment-alt"></i></li>
              <li class="list-item"><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>
        </header>
        <!--/header -->
        <div class="disclaimer">
          lorem
        </div>
        <div class="search"></div>
        <div class="contacts">
          <ul class="contacts-list list-none">
            <li 
              @click="changeContact(index)"
              v-for="(contact, index) in contacts"
              class="contacts-list-item">
              <div class="avatar">
                <img :src="`img/avatar${contact.avatar}.jpg`" alt="nome utente">
                <!-- <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="nome utente"> -->
              </div>
              <div class="info-user">
                <h2 class="user-name">{{ contact.name }}</h2>
                <h3 class="user-date">Tutto fatto</h3>
              </div>
              <div class="info-date">
                10/01/2020 16:15:22
              </div>
            </li>          
          </ul>
        </div>
      </div>
      <!-- /col-left -->

      <!-- col-right -->
      <div class="col-right f-left">
          <header class="header">
            <div class="avatar">
              <img src="img/avatar_io.jpg" alt="nome utente">
            </div>
            <div class="info-user">
              <h2 class="user-name">{{ contacts[indexContact].name }}</h2>
              <div class="user-date">
                Ultimo accesso oggi alle 10/01/2020 16:15:22
              </div>
            </div>
            <div class="icons">
              <ul class="list-inline">
                <li class="list-item"><i class="fas fa-search"></i></li>
                <li class="list-item"><i class="fas fa-paperclip"></i></li>
                <li class="list-item"><i class="fas fa-ellipsis-v"></i></li>
              </ul>
            </div>
          </header>
          <div class="messages">
            <div 
              v-for="(message, index) in contacts[indexContact].messages" class="message"
              :class="(message.status == 'sent') ? 'sent' : 'received'"
            >
              <div> {{ message.text }}</div>
              <div> {{ message.date }}</div>
            </div>
            <!-- <div class="message sent">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit maxime repudiandae quaerat veniam sapiente maiores, facilis deleniti corrupti amet quis repellat cumque, minus numquam pariatur? Officiis a facilis itaque assumenda?
            </div>
            <div class="message">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit maxime repudiandae quaerat veniam sapiente maiores, facilis deleniti corrupti amet quis repellat cumque, minus numquam pariatur? Officiis a facilis itaque assumenda?
            </div>
            <div class="message">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit maxime repudiandae quaerat veniam sapiente maiores, facilis deleniti corrupti amet quis repellat cumque, minus numquam pariatur? Officiis a facilis itaque assumenda?
            </div> -->
          </div>
          <div class="input-message">

          </div>
      </div>
      <!-- /col-right -->

    </div>
  </div>
  <script src="js/script.js"></script>
</body>
</html>

