<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- script per dayjs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.35/dayjs.min.js

"></script>
  <!-- <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.35/plugin/utc.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.35/plugin/customParseFormat.js"></script>
  <!-- script per dayjs -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <title>Document</title>
</head>

<body>
  <!-- container -->
  <div class="container">
  <!-- app -->
    <div id="app" class="clearfix">
      <!-- col-left -->
      <div class="col-left f-left">
        <!-- header -->
        <header class="header">
          <div class="avatar">
            <img src="img/avatar_io.jpg" alt="nome utente">
          </div>
          <div class="info-user">
            <h2 class="user-name">Nome Utente</h2>
          </div>
          <div class="icons">
            <ul class="list-inline">
              <li class="list-item"><i class="fas fa-circle-notch"></i></li>
              <li class="list-item"><i class="fas fa-comment-alt"></i></li>
              <li class="list-item"><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>
        </header>
        <!--/header -->

        <!-- disclaimer -->
        <div class="disclaimer">
          <div class="disclaimer-logo">
            <i class="fa fa-bell-slash" aria-hidden="true"></i>
          </div>
          <div class="disclaimer-text">
            <h3>Ricevi notifiche di nuovi messaggi</h3>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <!-- /disclaimer -->

        <!-- search -->
        <div class="search">
          <label for="search" class="search-label">
            <i aria-hidden="true" class="fa fa-search"></i>
          </label>
          <input 
            @keyup="searchContact"
            v-model="textSearch" 
            type="text" 
            id="search" 
            name="search" 
            placeholder="Cerca o inizia una nuova chat"
          >
        </div>
        <!-- /search -->

        <!-- contacts -->
        <div class="contacts">
          <ul class="contacts-list list-none">
            <li 
              v-if="contact.visible"
              @click="changeContact(index)" v-for="(contact, index) in contacts"
              :class="index === indexContact ? 'active' : ''" class="contacts-list-item">
              <div class="avatar">
                <img :src="`img/avatar${contact.avatar}.jpg`" alt="nome utente">
                <!-- <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="nome utente"> -->
              </div>
              <div class="info-user">
                <h2 class="user-name">{{ contact.name }}</h2>
                <h3 class="user-date">Tutto fatto</h3>
              </div>
              <div class="info-date">
                10/01/2020 16:15:22
              </div>
            </li>
          </ul>
        </div>
        <!-- /contacts -->

      </div>
      <!-- /col-left -->

      <!-- col-right -->
      <div class="col-right f-left">
        <!-- header -->
        <header class="header">
          <div class="avatar">
            <img src="img/avatar_io.jpg" alt="nome utente">
          </div>
          <div class="info-user">
            <h2 class="user-name">{{ contacts[indexContact].name }}</h2>
            <div class="user-date">
              Ultimo accesso oggi alle 10/01/2020 16:15:22
            </div>
          </div>
          <div class="icons">
            <ul class="list-inline">
              <li class="list-item"><i class="fas fa-search"></i></li>
              <li class="list-item"><i class="fas fa-paperclip"></i></li>
              <li class="list-item"><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>
        </header>
        <!-- /header -->

        <!-- messages -->
        <div class="messages">
          <!-- message -->
          <div 
          v-if="contacts[indexContact].messages.length > 0"
          v-for="(message, index) in contacts[indexContact].messages" class="message"
            :class="(message.status == 'sent') ? 'sent' : 'received'">
            <div class="message-text">
              <div class="message-text-content">
                {{ message.text }}
              </div>
              <i 
              @click="showMenu(index)"
              class="fa fa-chevron-down f-right message-options"></i>
            </div>
            <div class="message-date"> {{ message.date }}</div>

            <!-- hidden menu -->
            <ul class="message-options-panel" v-if="messageActive.show && index === messageActive.index">
                  <li class="message-options-panel-item">
                    Info messaggio
                  </li>
                  <li 
                  @click="deleteMessage(index)"
                  class="message-options-panel-item">
                    Cancella messaggio
                  </li>
                </ul>
            <!-- /hidden menu -->
          </div>
          <!-- /message -->
        </div>
        <!-- /messages -->

        <!-- input message -->
        <div class="input-message">
          <div class="input-message-icon f-left">
            <i class="far fa-smile"></i>
          </div>
          <input v-model="newMessage" @keyup.enter="sendMessage" class="input-message-input"
            placeholder="Scrivi un messaggio">
          <div class="input-message-icon f-right">
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </div>
        </div>
        <!-- /input message -->
      </div>
      <!-- /col-right -->
    </div>
    <!-- /app -->
  </div>
  <!-- /container -->
  <script src="js/script.js"></script>
</body>

</html>